<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django + Highcharts | IPL Data Project</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'ipl_data_project/style.css'%}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div class="ui container inverted segment">
        <h2 class="ui header">
            <div class="content">
                Ipl Data Project Charts
            </div>
        </h2>
        <button id="problem-1" class="ui inverted button red">Problem 1</button>
        <button id="problem-2" class="ui inverted primary button">Problem 2</button>
        <button id="problem-3" class="ui inverted olive button">Problem 3</button>
        <button id="problem-4" class="ui inverted green button">Problem 4</button>
        <button id="problem-5" class="ui inverted teal button">Problem 5</button>
        <div class="ui divider inverted"></div>    <div id="container" style="width:100%; height:480px;"></div>
    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'ipl_data_project/main.js'%}"></script>
</body>
</html>